### Lab Assignment 2

### Operators

#### Airthmetic Operators

In [25]:
#Arithmetic Operators
a = 5
b = 10
  
# Addition of numbers 
add = a + b 
  
# Subtraction of numbers 
sub = a - b 
  
# Multiplication of number 
mul = a * b 
  
# Division(float) of number 
div1 = a / b 
  
# Division(floor) of number 
div2 = a // b 
  
# Modulo of both number 
mod = a % b 
  
# Power
pow = a ** b
  
# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod)
print(pow)

15
-5
50
0.5
0
5
9765625

#### Relational Operators

In [26]:
#Relational Operators
a = 10
b = 5
  
# a > b is False
print(a > b)
  
# a < b is True
print(a < b)
  
# a == b is False
print(a == b)
  
# a != b is True
print(a != b)
  
# a >= b is False
print(a >= b)
  
# a <= b is True
print(a <= b)

True
False
False
True
True
False

#### Logical operators

In [27]:
#Logical Operators
a = True
b = False
  
# Print a and b is False
print(a and b)
  
# Print a or b is True
print(a or b)
  
# Print not a is False
print(not a)

False
True
False

#### Bitwise operators

In [28]:
#Bitwise operators
a = 10
b = 4
  
# Print bitwise AND operation  
print(a & b)
  
# Print bitwise OR operation
print(a | b)
  
# Print bitwise NOT operation 
print(~a)
  
# print bitwise XOR operation 
print(a ^ b)
  
# print bitwise right shift operation 
print(a >> 2)
  
# print bitwise left shift operation 
print(a << 2)

0
14
-11
14
2
40

#### Special operators

In [29]:
#Identity operators
a1 = 3
b1 = 3
a2 = 'Python'
b2 = 'Python'
a3 = [1,2,3]
b3 = [1,2,3]
  
print(a1 is not b1)
  
print(a2 is b2)
  
# Output is False, since lists are mutable.
print(a3 is b3)

False
True
False

#### Membership operators

In [36]:
#Membership operator
x = 'Divyang Bagla'
y = {3:'a',4:'b'}
  
print('V' in x)
  
print('D' not in x)

print('DIV' in x)

print('Div' not in x)
  
print(3 in y)
  
print('b' in y)

False
False
False
False
True
False

### Range Function

In [31]:
a = range(6)
for i in a: 
    print(i) 

print('*****')
    
b = range(3, 6)
for j in b:
    print(j) 
    
print('*****')

c = range(3, 20, 2)
for k in c:
    print(k)

0
1
2
3
4
5
*****
3
4
5
*****
3
5
7
9
11
13
15
17
19

### For and while loop

In [32]:
#FOR LOOP

x=0
for x in range(2,7):
    print(x)
        
#use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for m in Months:
    print(m)

2
3
4
5
6
Jan
Feb
Mar
April
May
June

#### Break and Continue in For Loop

In [33]:
#use the break and continue statements
for x in range (10,20):
    if (x == 15): break
    if (x % 2 == 0) : continue
    print(x)

11
13

### Python Program to display all prime numbers between 11 and 50.

In [34]:
start = 11
end = 50
  
for i in range(start, end+1):
      if i>1: #All prime numbers are greater than 1
        for j in range(2,i):
            if(i % j==0): #remainder zero, means not prime, hence terminate.
                break
        else:
            print(i)

11
13
17
19
23
29
31
37
41
43
47

### Python program to check if a number is even or odd

In [35]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
    print(num, "is an even number")
else:
    print(num, "is an odd number")

Enter a number: 11
11 is an odd number