In [23]:
import pandas as pd

red_wine = pd.read_csv("winequality-red.csv", sep=",")
white_wine = pd.read_csv("winequality-white.csv", sep=";")

In [24]:
red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
white_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [6]:
print(red_wine.info())
print(white_wine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 1 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality  1599 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
None

In [7]:
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [8]:
red_wine.head()

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....
1  7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.2,0....
2  7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0...
3  11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,...
4  7.4,0.7,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0....

In [9]:
white_wine.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1910,6.6,0.250,0.36,8.1,0.045,54.0,180.0,0.99580,3.08,0.42,9.2,5
3920,7.4,0.250,0.37,2.6,0.050,24.0,132.0,0.99138,3.04,0.53,11.2,6
2241,7.1,0.280,0.19,7.8,0.040,48.0,184.0,0.99579,3.16,0.50,9.4,5
2120,6.8,0.250,0.27,10.7,0.076,47.0,154.0,0.99670,3.05,0.38,9.0,5
2417,7.3,0.815,0.09,11.4,0.044,45.0,204.0,0.99713,3.15,0.46,9.0,5

In [10]:
red_wine.describe()

       fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count                                                1599
unique                                               1359
top     6.7,0.46,0.24,1.7,0.077,18.0,34.0,0.9948,3.39,...
freq                                                    4

In [11]:
pd.isnull(white_wine)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,False,False,False,False,False,False,False,False,False,False,False,False
4894,False,False,False,False,False,False,False,False,False,False,False,False
4895,False,False,False,False,False,False,False,False,False,False,False,False
4896,False,False,False,False,False,False,False,False,False,False,False,False
4897,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
white_wine['type'] = 0
red_wine['type'] = 1

wines = red_wine.append(white_wine, ignore_index=True)

In [13]:
wines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality  1599 non-null   object
 1   type                                                                                                                                               6497 non-null   int64
 2   fixed acidity                                                                                                                                      4898 non-null   float64
 3   volatile acidity                                                                                                                                   4898 non-null   float64
 4   citric acid                                                                                                                                        4898 non-null   float64
 5   residual sugar                                                                                                                                     4898 non-null   float64
 6   chlorides                                                                                                                                          4898 non-null   float64
 7   free sulfur dioxide                                                                                                                                4898 non-null   float64
 8   total sulfur dioxide                                                                                                                               4898 non-null   float64
 9   density                                                                                                                                            4898 non-null   float64
 10  pH                                                                                                                                                 4898 non-null   float64
 11  sulphates                                                                                                                                          4898 non-null   float64
 12  alcohol                                                                                                                                            4898 non-null   float64
 13  quality                                                                                                                                            4898 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 710.7+ KB

In [14]:
from sklearn.model_selection import train_test_split
import numpy as np

X = wines.iloc[:, 0:11]
y = np.ravel(wines.type)
X = X.drop("fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
for col in X.columns:
    print(col)

type
fixed acidity
volatile acidity
citric acid
residual sugar
chlorides
free sulfur dioxide
total sulfur dioxide
density
pH

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   int64
 1   fixed acidity         4898 non-null   float64
 2   volatile acidity      4898 non-null   float64
 3   citric acid           4898 non-null   float64
 4   residual sugar        4898 non-null   float64
 5   chlorides             4898 non-null   float64
 6   free sulfur dioxide   4898 non-null   float64
 7   total sulfur dioxide  4898 non-null   float64
 8   density               4898 non-null   float64
 9   pH                    4898 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 507.7 KB

In [17]:
X.describe()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH
count,6497.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,0.246114,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267
std,0.430779,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001
min,0.000000,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000
25%,0.000000,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000
50%,0.000000,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000
75%,0.000000,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000
max,1.000000,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(12, activation="relu", input_shape=(10,)))

model.add(Dense(10, activation="relu"))

model.add(Dense(8, activation="relu"))

model.add(Dense(1, activation="sigmoid"))

In [19]:

model.output_shape
model.summary()

model.get_config()
model.get_weights()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                132
_________________________________________________________________
dense_1 (Dense)              (None, 10)                130
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 359
Trainable params: 359
Non-trainable params: 0
_________________________________________________________________

[array([[ 0.09603208, -0.41799402, -0.4029511 , -0.17140514,  0.42106283,
          0.05752748, -0.26028237,  0.10126454,  0.01540601,  0.22027594,
         -0.45613444, -0.09593374],
        [ 0.02802187, -0.2407968 ,  0.49662977, -0.4312923 ,  0.13296849,
         -0.40914646, -0.05211008, -0.49720407, -0.296403  ,  0.33539444,
         -0.45820528, -0.07587394],
        [-0.40915018, -0.13134414, -0.28025293, -0.44979987, -0.12542194,
         -0.1798073 ,  0.33624858, -0.38994104, -0.10076323, -0.19469485,
          0.20245218, -0.42818964],
        [-0.3917538 ,  0.17129254,  0.27118874, -0.17080784,  0.09831089,
          0.27106893, -0.17576659,  0.05031103, -0.23632726, -0.2765607 ,
         -0.4640347 , -0.5217416 ],
        [-0.11103567, -0.00554258, -0.4818074 ,  0.31854588,  0.33419728,
         -0.15346932, -0.4901375 , -0.17821434, -0.41690105,  0.43580043,
         -0.06675717,  0.43347794],
        [-0.49780345,  0.36310577, -0.47278354, -0.14027625, -0.2529211 ,
          0.11419129,  0.29869956,  0.16368264, -0.24786723, -0.22759688,
          0.27566236,  0.50835484],
        [ 0.10919309,  0.35340595,  0.05684346, -0.4501526 ,  0.2600137 ,
          0.15150529, -0.01610005, -0.27262568, -0.1154086 , -0.17328635,
          0.26104784, -0.07998687],
        [ 0.5111093 , -0.10575834, -0.30537295,  0.17957324,  0.05285203,
         -0.33944738, -0.49332383, -0.15008017, -0.14140368,  0.45304137,
          0.16609329, -0.308251  ],
        [ 0.429344  ,  0.18305302,  0.1646182 , -0.5150721 ,  0.44330144,
         -0.26288727, -0.1462495 , -0.25713304, -0.23908207,  0.21780205,
         -0.27744508, -0.01857281],
        [ 0.05224454,  0.04299158, -0.09310225, -0.26228812,  0.07586497,
          0.4372704 , -0.06327176,  0.18134975, -0.51873183,  0.14034998,
          0.5113929 ,  0.05322993]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.3819912 ,  0.43495512,  0.24146831,  0.25381744, -0.36689347,
          0.17706662,  0.37644404, -0.49213514,  0.1300314 , -0.27577704],
        [ 0.37449056, -0.39248592, -0.21479863, -0.04276136, -0.44308364,
          0.5120147 , -0.36968452,  0.2722065 , -0.0814546 , -0.28295964],
        [-0.35370538, -0.43371627, -0.0832783 , -0.26011443, -0.14194131,
         -0.11092511,  0.45111495, -0.40065587, -0.0042972 , -0.21441835],
        [-0.45011324,  0.2791881 , -0.18070814,  0.23786312, -0.37823695,
         -0.06246209, -0.40950927,  0.30352163,  0.22597188,  0.11909074],
        [ 0.09915417,  0.08281225,  0.12049657, -0.1138384 , -0.283634  ,
          0.22167456,  0.07691222,  0.15258479,  0.03670466,  0.23652422],
        [ 0.29089117,  0.44286305, -0.31007108,  0.42302656,  0.14326948,
         -0.5120459 , -0.28371453,  0.51908857,  0.13790369,  0.07124138],
        [ 0.4466216 ,  0.11593252, -0.49289078,  0.02579349,  0.48172718,
         -0.40820628, -0.46546918,  0.1326546 , -0.08590022,  0.48333794],
        [-0.03522438,  0.426252  ,  0.48165077, -0.21872965,  0.02454841,
         -0.2253308 , -0.03087252, -0.45598865, -0.36794135, -0.3345012 ],
        [ 0.07480699,  0.28985387,  0.13908744,  0.45641208,  0.4303739 ,
          0.19611537,  0.20441025, -0.24503887, -0.23509139,  0.13343978],
        [ 0.09875637,  0.10995507,  0.51962024,  0.02888024, -0.11357456,
          0.34728903,  0.2899307 , -0.46105182,  0.49300867, -0.42965165],
        [-0.07990545,  0.2200039 , -0.02452922,  0.36207443, -0.25929177,
         -0.30767304, -0.17504966,  0.421493  , -0.33234978, -0.5113417 ],
        [-0.44521204, -0.32090008,  0.01818383,  0.40014303, -0.48037004,
          0.25006348, -0.37846893, -0.43471897,  0.33910447,  0.02056658]],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.24089947, -0.2822354 , -0.5510746 ,  0.16237813,  0.43063593,
         -0.06712472, -0.07937372, -0.3386262 ],
        [-0.13677764,  0.41279614,  0.54678035, -0.40350664, -0.2894307 ,
         -0.12707669,  0.11101598,  0.10012156],
        [ 0.43029094,  0.16939485,  0.46524978,  0.35758144,  0.38534784,
         -0.29470384,  0.1455617 ,  0.23322684],
        [ 0.26698506,  0.08317465,  0.2298637 , -0.0722124 , -0.2440005 ,
         -0.32067734,  0.13317299,  0.34494698],
        [ 0.11362278, -0.23922071,  0.4812181 , -0.44372815,  0.11596519,
          0.20277   ,  0.2522009 ,  0.09422201],
        [-0.11157236, -0.21707511,  0.1952036 , -0.46349633, -0.4796077 ,
         -0.38256   , -0.40570784, -0.32210162],
        [-0.33747888, -0.1816293 ,  0.37207693,  0.1393429 , -0.4217736 ,
         -0.56509656,  0.551438  ,  0.3777418 ],
        [ 0.12610829, -0.38232312,  0.15014851, -0.14914846,  0.42952073,
          0.56661594, -0.32037905,  0.35109216],
        [-0.05481446,  0.11961198, -0.41226608, -0.5194019 ,  0.16171521,
          0.09199768,  0.46850467, -0.48800015],
        [-0.54278195,  0.0148769 , -0.53949445,  0.00867724, -0.18175498,
          0.37221473, -0.01882309,  0.5607716 ]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.63763064],
        [-0.3297823 ],
        [-0.32169485],
        [-0.16648024],
        [ 0.09591424],
        [ 0.2684121 ],
        [ 0.07361096],
        [-0.4934099 ]], dtype=float32),
 array([0.], dtype=float32)]

In [20]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=20, batch_size=1, verbose=1)

Epoch 1/20
4352/4352 [==============================] - 9s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 2/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 3/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 4/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 5/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606A: 1s
Epoch 6/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 7/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 8/20
4352/4352 [==============================] - 9s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 9/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 10/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 11/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 12/20
4352/4352 [==============================] - 9s 2ms/step - loss: nan - accuracy: 0.7606A:
Epoch 13/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 14/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 15/20
4352/4352 [==============================] - 9s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 16/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 17/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 18/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 19/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606
Epoch 20/20
4352/4352 [==============================] - 8s 2ms/step - loss: nan - accuracy: 0.7606

In [21]:
y_pred = model.predict(X_test)

In [22]:
score = model.evaluate(X_test, y_test, verbose=1)
print(score)

68/68 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7403
[nan, 0.7403263449668884]